html{
	width: 100%;
	height: 100%;
} 
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url('background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
}
main{
	width: 50%;
	height: 100%;
	margin-left: 25%;

}
/*Index style*/
.form-style-5{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #D9BBB4;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-style-5 label{
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #333;
	margin-bottom: 10px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 input[type="password"],
.form-style-5 textarea,
.form-style-5 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 85%;
	background: #B0C6D9;
	margin-top: 4%;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 input[type="password"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #BF8F54;
	border-bottom: 2px solid #BF8F54;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover{
	background: #F2B872
}

.form-style-5 button{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 10%;
	padding: 3%;
	background: #BF8F54;
	border-bottom: 2px solid #BF8F54;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}

.form-style-5 button:hover{
	background: #F2B872;
}


/*Form Style*/
.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #D9BBB4;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-style-6 h1{
	background: #BF8F54;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #B0C6D9;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 input[type="password"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #BF8F54;
	border-bottom: 2px solid #BF8F54;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: #F2B872
}


.form-style-6 input[type="password"]{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 85%;
	background: #B0C6D9;
	margin-top: 4%;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}

.form-style-6 button{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 10%;
	padding: 3%;
	background: #BF8F54;
	border-bottom: 2px solid #BF8F54;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}

.form-style-6 button:hover{
	background: #F2B872;
}
#pwdId,#rPwdId{
	width: 85%;
}

progress {
    width: 300px;
    height: 30px;
    -webkit-appearance: none;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.dash-h1{
	width: 100%;
	height: 50px;
	font-size: 48px;
	font-weight: bolder;
	color: #333;
	margin-top: 10px;
	text-align: center;
	 text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.dash { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
.dash tr:nth-of-type(odd) { 
  background: #BF8F54; 
}
.dash tr:nth-of-type(even) { 
  background: #F2B872; 
}
.dash th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
.dash td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
.dash-title-class{
	cursor: pointer;
}

a{
	display: block;
	float: left;
	background-color: #A65158;
	padding: 10px;
	margin: 10px;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
}
